/* Links */
a:hover {
	text-decoration: none;
}

.datepicker {
    padding: 6px 12px;
}

/* Chosen Select */
.chosen-container-single .chosen-single {
    height: 30px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
}
.chosen-container-single .chosen-single span {
    padding-top: 2px;
}
.chosen-container-single .chosen-single div b {
    margin-top: 2px;
}
.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
    border-color: #ccc;
    border-color: rgba(82, 168, 236, .8);
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82, 168, 236, .6);
    box-shadow: 0 0 8px rgba(82, 168, 236, .6)
}

/* DatabTables */
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 1px solid #ddd;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #ddd;
}

/* Custom Readonly */
.form-control[readonly], textarea.form-control[disabled] {
    background-color: white;
    cursor: default;
}
label.form-control {
    font-weight: normal;
    margin: 0px;
}

/* Menu */